@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --text: 0 0 0;
}

.dark {
  --bg: 0 0 0;
  --text: 255 255 255;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  transition: background-color 0.3s, color 0.3s;
}

.dark body{
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  transition: background-color 0.3s, color 0.3s;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
